config:
  encoding: UTF-8

genres:
  sample_a:
    - dirPath: /target/sample
      rootName: サンプルルートA
      depth: 2
      regex: ""
      exregex: ""
  sample_b:
    - dirPath: /target/docs
      rootName: サンプルルートB
      depth: 2
      regex: ""
      exregex: ""
